* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: #000;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 18px;

  @media screen and (max-width: 1024px) {
    font-size: 12px;
  }
}

button,
.button {
  padding: 0.5rem;
  background: #0f64a0;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  font-family: 'Roboto Slab', serif;
  font-size: 0.8rem;
  cursor: pointer;
  color: white;
  margin-left: 6px;

  &:hover {
    opacity: 0.8;
  }
}

.page {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;

  .container {
    width: 90%;
    min-height: 600px;

    .search-area {
      padding: 2% 0;

      input.text-input {
        border-radius: 5px;
        padding: 0.5rem 0.3rem;
      }

      form.search-bar {
        padding-bottom: 2%;
        border-bottom: 1px solid lightgray;
        margin-bottom: 20px;
      }

      .error {
        color: red;
      }
    }
    

    .sort {
      display: flex;
      font-size: 0.9rem;
      flex-wrap: wrap;

      .sorter {
        padding-left: 10px;
        cursor: pointer;

        &.selected {
          color: #0f64a0;
          font-weight: bold;
        }

        &:hover {
          opacity: 0.6;
          color: #0f64a0;
        }
      }
    }

    .user-cards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      @media screen and (max-width:450px) {
        img {
          width: 100%;
        }
      }

      >div {
        position: relative;
      }

      .close-btn {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 9px;
        font-size: 24px;
        text-shadow: 1px 2px 3px #888888;

        &:hover {
          color: rgb(216, 7, 7);
        }
      }

      .card-wrapper {
        border: 2px solid rgba(128, 128, 128, 0.36);
        border-radius: 0.3rem;
        padding: 3px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .user-details {
          display: flex;
          flex-direction: column;

          span {
            padding-bottom: 10px;
          }

          .name {
            font-weight: bold;
            padding-top: 10px;
          }

          .data {
            font-size: 0.9rem;

            span:first-child {
              font-weight: bold;
              padding-right: 4px;
            }
          }
        }

        &:hover {
          border-color: #0f64a0;

          .user-details {
            span {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
